name: Release pipeline

on:
  push:
    branches:
      - master

jobs:
  run-tests:
    uses: ./.github/workflows/run-tests.reusable.yml
  build:
    needs: [run-tests]
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3
      - name: Get version from package.json
        id: package-version
        uses: martinbeentjes/npm-get-version-action@main
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push to DockerHub
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: jonfelixrico/wisdom-panel-client:${{steps.package-version.outputs.current-version}},jonfelixrico/wisdom-panel-client:latest
